@model VEH.Intranet.ViewModel.Employee.EditCamposMensualidadViewModel
@{
    ViewBag.Title = "Editar Campos Planilla";
    Layout = ConstantHelpers.Layout.MODAL_LAYOUT_PATH;
    ViewBag.Form = new ModalFormHelpers("EditCamposMensualidad", "Employee", FormMethod.Post);
}

@Html.HiddenFor(x => x.TrabajadorId)
@Html.HiddenFor(x => x.DetalleMensualidadId)

<div class="form-group">
        @Html.CheckBoxFor(x => x.tieneEssalud)
        @Html.LabelFor(x => x.tieneEssalud)
</div>

<div class="form-group">
        @Html.CheckBoxFor(x => x.tieneCTS)
        @Html.LabelFor(x => x.tieneCTS)
</div>

@section Footer
{
    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i>&nbsp;&nbsp;Confirmar</button>
}

