@model VEH.Intranet.ViewModel.Employee.EditPlanillaQuincenaViewModel
@{
    ViewBag.Title = "Administrar Planillas Quincenales";
}

@section Breadcrumbs{
    <li><a href="@Url.Action("LstEdificio", "Building")">Edificio</a></li>
}

@section Scripts{
    <script>
        function obtenerTrabajadorId(selector) {
            return selector.substring(selector.lastIndexOf('-') + 1);
        }

        function actualizarTotalQuincena(trabajadorId) {
            var sueldoBase = parseFloat($('#planilla-sueldo-base-' + trabajadorId).text(), 10);
            
            var movilidad = parseFloat($('[name="planilla-bonus-movilidad-' + trabajadorId + '"]').val(), 10);
            if (isNaN(movilidad)) movilidad = 0;
            movilidad = Math.floor(movilidad * 100) / 100;

            var bonificacion = parseFloat($('[name="planilla-bonificacion-' + trabajadorId + '"]').val(), 10);
            if (isNaN(bonificacion)) bonificacion = 0;
            bonificacion = Math.floor(bonificacion * 100) / 100;

            var seguro = parseFloat($('[name="planilla-seguro-' + trabajadorId + '"]').val(), 10);
            if (isNaN(seguro)) seguro = 0;
            seguro = Math.floor(seguro * 100) / 100;

            var quincena = 0.5 * (sueldoBase + movilidad);
            quincena = Math.floor(quincena * 100) / 100;
            quincena += bonificacion;
            quincena -= seguro;

            $('[name="planilla-total-quincena-' + trabajadorId + '"]').val(quincena);
        }

        function init() {
            $('[name^="planilla-bonus-movilidad"]').each(function (i, e) {
                var trabajadorId = obtenerTrabajadorId(e.name);
                $('[name^="planilla-bonus-movilidad-' + trabajadorId + '"]').change(function () {
                    actualizarTotalQuincena(trabajadorId);
                })
            });

            $('[name^="planilla-bonificacion"]').each(function (i, e) {
                var trabajadorId = obtenerTrabajadorId(e.name);
                $('[name^="planilla-bonificacion-' + trabajadorId + '"]').change(function () {
                    actualizarTotalQuincena(trabajadorId);
                })
            });
            $('[name^="planilla-seguro"]').each(function (i, e) {
                var trabajadorId = obtenerTrabajadorId(e.name);
                $('[name^="planilla-seguro-' + trabajadorId + '"]').change(function () {
                    actualizarTotalQuincena(trabajadorId);
                })
            });

            $('[name^="planilla-total-quincena"]').each(function (i, e) {
                var trabajadorId = obtenerTrabajadorId(e.name);
                $('[name^="planilla-total-quincena-' + trabajadorId + '"]').change(function () {
                    actualizarTotalQuincena(trabajadorId);
                })
                actualizarTotalQuincena(trabajadorId);
            });
        }

        $(document).ready(function () {
            init();
        });
    </script>
}

@section Styles{
    <style>
        .table-responsive {
            overflow-x: auto;
        }

        .table-cuota-masiva th {
            width: 70px;
        }

        .table-cuota-masiva input {
            width: 70px;
            margin: 0;
            padding: 0;
        }
    </style>
}


<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-inverse">
            <div class="panel-body">
                <h4><i class="fa fa-building-o"></i>&nbsp;Edificio</h4>
                <dl class="dl-horizontal">
                    <dt>Nombre</dt>
                    <dd>@Model.Edificio.Nombre</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div>
    <div>
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" data-original-title="" title="Colapsar / Expandir"><i class="fa fa-minus"></i></a>
                </div>
                <h4 class="panel-title"><i class="fa fa-filter"></i>&nbsp;&nbsp;Filtro</h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    @Html.HiddenFor(x => x.EdificioId)
                    <div class="form-group">
                        <label class="col-md-2 control-label">Unidad de tiempo</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(x => x.UnidadTiempoId, Model.LstComboUnidadTiempo, new { @class = "form-control" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-2 col-md-offset-10 ui-sortable">
                            <button type="submit" class="btn btn-sm btn-primary m-r-5"><i class="fa fa-search"></i>&nbsp;&nbsp;Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@if (Model.UnidadTiempoId.HasValue)
{
    var disabledStyle = "background: #e5e9ed;cursor: not-allowed;box-shadow: none;border: 1px solid #ccd0d4;";
    
    <div>
        <div>
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-list"></i>&nbsp;&nbsp;Listado</h4>
                </div>
                <div class="panel-body">
                    <form action="@Url.Action("EditPlanillaQuincena")" method="post" onsubmit="return confirm('¿Está seguro de registrar todas las planillas ingresadas?')">
                        @Html.HiddenFor(x => x.EdificioId)
                        @Html.HiddenFor(x => x.UnidadTiempoId)
                        <div class="table-responsive">
                            <table class="table table-condensed table-cuota-masiva">
                                <thead>
                                    <tr>
                                        <th class="text-center" hidden>Monto Horas 25</th>
                                        <th class="text-center" hidden>Monto Horas 35</th>
                                        <th class="text-center" hidden>Monto Feriados</th>
                                        <th class="text-center" hidden>Adelanto Quincena</th>
                                        <th class="text-center">Trabajador</th>
                                        <th class="text-center">Puesto</th>
                                        <th class="text-center">Sueldo Base (S/)</th>
                                        <th class="text-center">Bono por Movilidad</th>
                                        <th class="text-center">Bonificación</th>
                                        <th class="text-center">Seguro</th>
                                        <th class="text-center">Total Quincena</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{bool planillaExistente = true;}
                                    @for (int i = 0; i < Model.LstTrabajadores.Count; ++i)
                                    {
                                        var item = Model.LstTrabajadores[i];
                                        var nombreCompleto = item.Nombres + " " + item.Apellidos;
                                        var sueldoBase = "S/ " + item.SueldoBase;
                                        if (Model.LstPlanilla[i] == null)
                                        {
                                            planillaExistente = false;
                                        }
                                        var planilla = Model.LstPlanilla[i] ?? new VEH.Intranet.Models.PlanillaQuincena();
                                        var detalle = item.DetalleQuincena;
                                        <tr class="row-departamento"data-trabajador-id="@item.TrabajadorId">
                                            <td class="text-center"><span id="planilla-nombre-@item.TrabajadorId">@nombreCompleto</span></td>
                                            <td class="text-center"><span id="planilla-puesto-@item.TrabajadorId">@item.Cargo</span></td>
                                            <td class="text-center"><span id="planilla-sueldo-base-@item.TrabajadorId">@item.SueldoBase</span></td>
                                            <td class="text-center"><input name="planilla-bonus-movilidad-@item.TrabajadorId" type="text" value="@planilla.BonoPorMovilidad" @(detalle.BonoPorMovilidad == false?"disabled":"") style="@(detalle.BonoPorMovilidad == false?disabledStyle:"")"/></td>
                                            <td class="text-center"><input name="planilla-bonificacion-@item.TrabajadorId" type="text" value="@planilla.Bonificacion" @(detalle.Bonificacion == false?"disabled":"") style="@(detalle.Bonificacion == false?disabledStyle:"")"/></td>
                                            <td class="text-center"><input name="planilla-seguro-@item.TrabajadorId" type="text" value="@planilla.Seguro" @(detalle.Seguro == false ? "disabled" : "") style="@(detalle.Seguro == false?disabledStyle:"")" /></td>
                                            <td class="text-center"><input name="planilla-total-quincena-@item.TrabajadorId" type="text" value="@planilla.TotalQuincena" style="@(detalle.TotalQuincena != false ? disabledStyle : "")"/></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="form-group">
                            <div class="ui-sortable">
                                <button type="submit" class="btn btn-sm btn-primary m-r-10 pull-right"><i class="fa fa-save"></i>&nbsp;&nbsp;Guardar</button>
                                @if (planillaExistente)
                                {
                                    <a href="@Url.Action("ExportPlantillaQuincena", "Employee", new {UnidadTiempoId = Model.UnidadTiempoId, EdificioId = Model.EdificioId})" class="btn btn-sm btn-default m-r-5 pull-right"><i class="fa fa-print"></i>&nbsp;Exportar</a>
                                }
                                <a href="@Url.Action("LstEdificio", "Building")" class="btn btn-sm btn-default m-r-5 pull-right"><i class="fa fa-arrow-left"></i>&nbsp;Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

