@model VEH.Intranet.ViewModel.Fee.AddEditCuotaExtraordinariaViewModel

@{
    ViewBag.Title = (Model.CuotaId != null ? "Editar" : "Agregar") + " cuota extraordinaria";
    Layout = ConstantHelpers.Layout.MODAL_LAYOUT_PATH;
    ViewBag.Form = new ModalFormHelpers("AddEditCuotaExtraordinaria", "Fee", FormMethod.Post);
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-inverse">
            <div class="panel-body">
                <h4><i class="fa fa-building-o"></i>&nbsp;Edificio</h4>
                <dl class="dl-horizontal">
                    <dt>Nombre</dt>
                    <dd>@Model.NombreEdificio</dd>
                    <dt>Unidad Tiempo</dt>
                    <dd>@Model.NombreUnidadTiempo</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

@Html.HiddenFor(x => x.CuotaId)
@Html.HiddenFor(x => x.EdificioId)
@Html.HiddenFor(x => x.UnidadTiempoId)


<div class="form-group">
    @Html.LabelFor(x => x.MontoExtraordinaria)
    @Html.TextBoxFor(x => x.MontoExtraordinaria, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.MontoExtraordinaria)
</div>
@*<div class="form-group">
    @Html.LabelFor(x => x.FechaPago)
    @Html.TextBoxFor(x => x.FechaPago, new { @class = "form-control datepicker" })
    @Html.ValidationMessageFor(x => x.FechaPago)
</div>*@
<div class="form-group">
    @Html.LabelFor(x => x.Mora)
    @Html.TextBoxFor(x => x.Mora, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Mora)
</div>
<div class="form-group">
    @Html.LabelFor(x => x.Leyenda)
    @Html.TextBoxFor(x => x.Leyenda, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Leyenda)
</div>
<div class="form-group">
    @Html.LabelFor(x => x.Estado)
    @Html.DropDownListFor(x => x.Estado, Model.LstEstado, new { @class = "form-control select2" })
    @Html.ValidationMessageFor(x => x.Estado)
</div>
<div class="form-group">
    @Html.LabelFor(x => x.DepartamentoId)
    @Html.DropDownListFor(x => x.DepartamentoId, new SelectList(Model.LstDepartamento, "DepartamentoId", "Numero"), new { @class = "form-control select2" })
    @Html.ValidationMessageFor(x => x.DepartamentoId)
</div>

@section Footer{
    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i>&nbsp;&nbsp;Confirmar</button>
}