@model VEH.Intranet.ViewModel.Fee.LstCuotaViewModel
@{
    ViewBag.Title = "Cuotas";
}

@section Breadcrumbs{
    <li><a href="@Url.Action("LstEdificio", "Building")">Edificio</a></li>
    <li><a href="@Url.Action("LstDepartamento", "Departament", new { EdificioId = Model.EdificioId })">Departamento</a></li>
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-inverse">
            <div class="panel-body">
                <h4><i class="fa fa-building-o"></i>&nbsp;Edificio</h4>
                <dl class="dl-horizontal">
                    <dt>Nombre</dt>
                    <dd>@Model.Edificio.Nombre</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-inverse">
            <div class="panel-body">
                <h4><i class="fa fa-desktop"></i>&nbsp;Departamento</h4>
                <dl class="dl-horizontal">
                    <dt>Número</dt>
                    <dd>@Model.Departamento.Numero</dd>
                    <dt>Piso</dt>
                    <dd>@Model.Departamento.Piso</dd>
                    <dt>Lectura de agua</dt>
                    @*<dd>@String.Format("{0:0,0.00}", (Model.LstCuota.Last() == null ? 0 : Model.LstCuota.Last().LecturaAgua))</dd>*@
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-list"></i>&nbsp;&nbsp;Listado</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-sm-2 text-center">Lectura de agua</th>
                                <th class="col-sm-2 text-center">Consumo de mes</th>
                                <th class="col-sm-2 text-center">Consumo de agua</th>
                                <th class="col-sm-1 text-center">Cuota</th>
                                <th class="col-sm-1 text-center">Mora</th>
                                <th class="col-sm-1 text-center">Total</th>
                                <th class="col-sm-1 text-center">Estado</th>
                                <th class="col-sm-2 text-center">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.LstCuota)
                            {
                                <tr>
                                    <td>@String.Format("{0:0,0.00}", item.LecturaAgua)</td>
                                    <td>@String.Format("{0:0,0.00}", item.ConsumoMes)</td>
                                    <td>@String.Format("{0:0,0.00}", item.ConsumoAgua)</td>
                                    <td>@String.Format("{0:0,0.00}", item.Monto)</td>
                                    <td>@String.Format("{0:0,0.00}", item.Mora)</td>
                                    <td>@String.Format("{0:0,0.00}", item.Total)</td>
                                    <td class="text-center"><span class="label @(item.Estado == ConstantHelpers.EstadoMora ? "label-warning" :
                                                                                 item.Estado == ConstantHelpers.EstadoPagado ? "label-success" :
                                                                                 item.Estado == ConstantHelpers.EstadoPendiente ? "label-info" : "label-danger")">
                                        @(item.Estado == ConstantHelpers.EstadoMora ? "Mora" :
                                          item.Estado == ConstantHelpers.EstadoPagado ? "Pagado" :
                                          item.Estado == ConstantHelpers.EstadoPendiente ? "Pendiente" : "Inactivo")</span></td>
                                    <td class="text-center">
                                        <a @Data.ModalLink("_ActDeactCuota", "Fee", new { CuotaId = item.CuotaId, DepartamentoId = item.DepartamentoId, EdificioId = Model.EdificioId, Estado = item.Estado })  class="btn btn-default btn-xs"><i class="fa fa-eye@(item.Estado == ConstantHelpers.EstadoInactivo ? "-slash" : "")"></i>&nbsp;&nbsp;@(item.Estado == ConstantHelpers.EstadoInactivo ? "Activar" : "Desactivar")</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model.LstCuota, page => Url.Action("LstCuota", new { DepartamentoId = Model.DepartamentoId, EdificioId = Model.EdificioId, np = page }), ConstantHelpers.Bootstrap3Pager)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-10">
            <a class="btn btn-sm btn-default" href="@Url.Action("LstDepartamento", "Departament", new { EdificioId = Model.EdificioId })"><i class="fa fa-arrow-left"></i>&nbsp;Regresar</a>&nbsp;&nbsp;
        <a class="btn btn-sm btn-primary" href="@Url.Action("AddEditCuota", "Fee", new { DepartamentoId = Model.DepartamentoId, EdificioId = Model.EdificioId })"><i class="fa fa-plus"></i>&nbsp;Agregar cuota</a>
        </div>
        <div class="col-sm-1">
            <a class="btn btn-sm btn-primary" href="@Url.Action("DescargarRecibo", "Fee", new {EdificioId = Model.EdificioId, DepartamentoId = Model.DepartamentoId })"><i class="fa fa-download"></i>&nbsp;Exportar recibo</a>
        </div>
    </div>
</div>


