@model VEH.Intranet.ViewModel.Fee.DetailEstadoCuentaViewModel
@{
    ViewBag.Title = "Estado de cuenta";
}

@section Breadcrumbs{

}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-inverse">
            <div class="panel-body">
                <h4><i class="fa fa-building-o"></i>&nbsp;Edificio</h4>
                <dl class="dl-horizontal">
                    <dt>Nombre</dt>
                    <dd>@Model.Edificio.Nombre</dd>
                    <dt>Numero departamento:</dt>
                    <dd>@Model.Departamento.Numero</dd>
                    <dt>Ultima cuota pagada registrada:</dt>
                    <dd>@Model.UltimaPagada</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div> @*class="row">*@
    <div> @*class="col-sm-12">*@
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" data-original-title="" title="Colapsar / Expandir"><i class="fa fa-minus"></i></a>
                </div>
                <h4 class="panel-title"><i class="fa fa-filter"></i>&nbsp;&nbsp;Filtro</h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Año</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(x => x.Anio, Model.LstAnio, new { @class = "form-control select2" })
                        </div>
                        <label class="col-md-1 control-label">Mes</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(x => x.Mes, Model.LstMeses, new { @class = "form-control select2" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-2 pull-right ui-sortable">
                            <button type="submit" class="btn btn-sm btn-primary m-r-5"><i class="fa fa-search"></i>&nbsp;&nbsp;Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@if(Model.Anio.HasValue && Model.Mes.HasValue)
{
    <div>
        <div>
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-list"></i>&nbsp;&nbsp;Reportes</h4>
                </div>
                <div class="panel-body">

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-sm-10 text-left">Descripción</th>
                                    <th class="col-sm-2 text-center">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-left">Recibo de mantenimiento</td>
                                    <td class="text-center"><a target="_blank" class="btn btn-default" href="@Url.Action("DownloadReporteDepartamento", "Fee", new {departamentoId = Model.DepartamentoId, unidadTiempoId = Model.UnidadTiempoId})">Descargar</a></td>
                                </tr>
                                @if(Model.reporte != null)
                                { 
                                <tr>
                                    <td class="text-left">@Model.reporte.Nombre</td>
                                    <td class="text-center"><a href="@Url.Content(Model.reporte.Ruta)">Descargar</a></td>
                                </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td class="text-left">Cuota por Departamento</td>
                                        <td class="text-center"><a class="btn btn-default" href="@Url.Action("DownloadReporteGeneral2","Fee",new { departamentoId = Model.DepartamentoId, unidadTiempoId = Model.UnidadTiempoId})">Descargar</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}