@model VEH.Intranet.ViewModel.Building._AddEditEmailValidacionViewModel
@{
    ViewBag.Title = "Email Validación";
    Layout = ConstantHelpers.Layout.MODAL_LAYOUT_PATH;
    ViewBag.Form = new ModalFormHelpers("_AddEditEmailValidacion", "Building", FormMethod.Post);
}
@Html.HiddenFor(x => x.EdificioId)
@Html.HiddenFor(x => x.EmailValidacionId)
<div class="form form-horizontal">
    <div class="form-group">
        <label class="col-md-2 control-label">*Usuario Remitente</label>
        <div class="col-md-6">
            @Html.DropDownListFor(x => x.UsuarioId, new SelectList(Model.LstUsuario, "UsuarioId", "Nombres"), new { @class = "form-control select2" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">*Destinatarios</label>
        <div class="col-md-6">
            @Html.TextBoxFor(x => x.Destinatarios, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">CC</label>
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.CopiaCarbon, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Copia Oculta</label>
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.CopiaOculta, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">*Asunto</label>
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Asunto, new { @class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Mensaje</label>
        <div class="col-md-10">
            @Html.TextAreaFor(x => x.Mensaje, new { @class = "form-control", @rows = "10"})
        </div>
    </div>
</div>

@section Footer{
    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i>&nbsp;&nbsp;Confirmar</button>
}