@model VEH.Intranet.ViewModel.Building.EnviarEmailValidacionesViewModel
@{
    ViewBag.Title = "Correo de Validación";
}

@section Breadcrumbs{
    <li><a href="@Url.Action("LstEdificio", "Building")">Lista de Edificios</a></li>
}
@section Styles{    
    <link href="@Url.Content("~/Content/css/upload.file.css")" rel="stylesheet" />
}

<div class="well">
    <strong>Edificio: @Model.NombreEdificio</strong>
</div>
<div class="panel panel-inverse">
    <div class="panel-body">
        @if (Model.EmailValidacionId.HasValue)
        {
            <form method="post" class="form-horizontal" enctype="multipart/form-data">
                @Html.HiddenFor(x => x.EdificioId)
                @Html.HiddenFor(x => x.UsuarioId)
                @Html.HiddenFor(x => x.CorreoRemitente)
                @Html.HiddenFor(x => x.Asunto)
                @Html.HiddenFor(x => x.Destinatarios)
                @Html.HiddenFor(x => x.CopiaCarbon)
                @Html.HiddenFor(x => x.CopiaOculta)
                @Html.HiddenFor(x => x.Mensaje)
                <div class="form-group">
                    <label class="col-md-2 control-label">Remitente</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.CorreoRemitente, new { @class = "form-control", @disabled = true , @style="color:black"})
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Asunto</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.Asunto, new { @class = "form-control", @disabled = true, @style = "color:black" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Destinatario</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.Destinatarios, new { @class = "form-control", @disabled = true, @style = "color:black" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">CC</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.CopiaCarbon, new { @class = "form-control", @disabled = true, @style = "color:black" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Copia Oculta</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.CopiaOculta, new { @class = "form-control", @disabled = true, @style = "color:black" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Mensaje</label>
                    <div class="col-md-6">
                        @Html.TextAreaFor(x => x.Mensaje, new { @class = "form-control", @disabled = true,@rows="10", @style = "color:black" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Archivos adjuntos</label>
                    <div class="col-md-4" id="conjuntoArchivos">
                        <input name="LstAdjuntos" multiple type="file"/><br />
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-default" id="plus"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label">Archivo Excel Telecrédito</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.Archivo, new { @class = "form-control", @type = "file" })
                    </div>
                </div>

                <hr />
                <div class="form-group">
                    <div class="ui-sortable">
                        <a style="margin-left: 10px;" class="btn btn-warning" @Data.ModalLink("_AddEditEmailValidacion", "Building", new { EmailValidacionId = Model.EmailValidacionId, EdificioId = Model.EdificioId })><i class="fa fa-edit"></i> Editar Email de Validación</a>
                        <button type="submit" class="btn btn-sm btn-primary m-r-10 pull-right"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Enviar Email</button>
                        <a href="@Url.Action("LstEdificio", "Building")" class="btn btn-sm btn-default m-r-5 pull-right"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Cancelar</a>
                    </div>
                </div>
            </form>
        }
        else
        {
            <p style="color:red"><h4>No existe correo de validación configurado</h4></p>
            <br />
            <a class="btn btn-primary" @Data.ModalLink("_AddEditEmailValidacion", "Building", new { EdificioId = Model.EdificioId })><i class="fa fa-plus"></i> Configurar Email de Validación</a>
        }
    </div>
</div>

@section Scripts{
    <script>
        $('#plus').on('click', function () {
            var unArchivoMas = '<input type="file" name="LstAdjuntos" multiple/><br />';
            $("#conjuntoArchivos").append(unArchivoMas);
        });
    </script>
}