@model VEH.Intranet.ViewModel.Building.LstOpcionEdificioViewModel

@{
    ViewBag.Title = "Edificio";

}

@section Breadcrumbs{
    <li><a href="@Url.Action("LstEdificio", "Building")">Lista de Edificios</a></li>
}

<div class="well">
    <strong>Edificio: @Model.NombreEdificio</strong>
</div>
<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-list"></i>&nbsp;&nbsp;Listado</h4>
    </div>
    <div class="panel-body">
        <br /><br />
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-2">
                    <div class="widget-bg-color-icon card-box fadeInDown animated">
                        <div class="bg-icon bg-icon-info pull-left" style="margin-left: 32%;">
                            <a href="@Url.Action("BalanceOverview", "Building", new { EdificioId = Model.EdificioId })"><i class="fa fa-eye text-info"></i></a>
                            <p class="text-muted" style="font-size:18px">Estado</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="widget-bg-color-icon card-box fadeInDown animated">
                        <div class="bg-icon bg-icon-info pull-left" style="margin-left: 32%;">
                            <a href="@Url.Action("LstGastoAdmin", "Spending", new { EdificioId = Model.EdificioId })"><i class="fa fa-shopping-cart text-info"></i></a>
                            <p class="text-muted" style="font-size:18px">Gastos</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="widget-bg-color-icon card-box fadeInDown animated">
                        <div class="bg-icon bg-icon-info pull-left" style="margin-left: 32%;">
                            <a href="@Url.Action("LstIngresoAdmin", "Income", new { EdificioId = Model.EdificioId })"><i class="fa fa-shopping-cart text-info"></i></a>
                            <p class="text-muted" style="font-size:18px">Ingresos</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="widget-bg-color-icon card-box fadeInDown animated">
                        <div class="bg-icon bg-icon-info pull-left" style="margin-left: 32%;">
                            <a href="@Url.Action("LstNoticiaAdm", "News", new { EdificioId = Model.EdificioId })"><i class="fa fa-info-circle text-info"></i></a>
                            <p class="text-muted" style="font-size:18px">Noticias</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="widget-bg-color-icon card-box fadeInDown animated">
                        <div class="bg-icon bg-icon-info pull-left" style="margin-left: 32%;">
                            <a href="@Url.Action("LstDepartamento", "Departament", new { EdificioId = Model.EdificioId })"><i class="fa fa-desktop text-info"></i></a>
                            <p class="text-muted" style="font-size:18px">Relacion de Propietarios</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="widget-bg-color-icon card-box fadeInDown animated">
                        <div class="bg-icon bg-icon-info pull-left" style="margin-left: 32%;">
                            <a href="@Url.Action("EditMasivoCuota", "Fee", new { EdificioId = Model.EdificioId })"><i class="fa fa-money text-info"></i></a>
                            <p class="text-muted" style="font-size:18px">Cuotas</p>
                        </div>
                    </div>
                </div>
            </div>
            <br /><br /><br /><br /><br />
            <div class="row">
                <div class="col-lg-2">
                    <div class="widget-bg-color-icon card-box fadeInDown animated">
                        <div class="bg-icon bg-icon-info pull-left" style="margin-left: 32%;">
                            <a href="@Url.Action("ElementosExternos", "External", new { EdificioId = Model.EdificioId })"><i class="fa fa-list text-info"></i></a>
                            <p class="text-muted" style="font-size:18px">Adm. Menu</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="widget-bg-color-icon card-box fadeInDown animated">
                        <div class="bg-icon bg-icon-info pull-left" style="margin-left: 32%;">
                            <a href="@Url.Action("ItemsGenericos", "External", new { EdificioId = Model.EdificioId ,filtroNombre ="",filtroDato="",filtroTipo="Obligaciones",vista="ObligacionesLaborales"})"><i class="fa fa-list text-info"></i></a>
                            <p class="text-muted" style="font-size:18px">Obligaciones Laborales</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="widget-bg-color-icon card-box fadeInDown animated">
                        <div class="bg-icon bg-icon-info pull-left" style="margin-left: 32%;">
                            <a href="@Url.Action("ItemsGenericos", "External", new { EdificioId = Model.EdificioId, filtroNombre = "", filtroDato = "", filtroTipo = "Equipo", vista = "Equipos" })"><i class="fa fa-list text-info"></i></a>
                            <p class="text-muted" style="font-size:18px">Certificado de Equipos</p>
                        </div>
                    </div>
                </div>
                @*<div class="col-lg-2">
                        <div class="widget-bg-color-icon card-box fadeInDown animated">
                            <div class="bg-icon bg-icon-info pull-left" style="margin-left: 32%;">
                                <a href="@Url.Action("LstEquiposSinCertificado", "External", new { EdificioId = Model.EdificioId})"><i class="fa fa-cubes text-info"></i></a>
                                <p class="text-muted" style="font-size:18px">Adm. Equipos sin Certificado</p>
                            </div>
                        </div>
                    </div>*@
                @*<div class="col-lg-2">
                        <div class="widget-bg-color-icon card-box fadeInDown animated">
                            <div class="bg-icon bg-icon-info pull-left" style="margin-left: 32%;">
                                <a href="@Url.Action("CronogramaMantenimientos", "External", new { EdificioId = Model.EdificioId, Editar = true })"><i class="fa fa-list text-info"></i></a>
                                <p class="text-muted" style="font-size:18px">Cronograma de mantenimientos</p>
                            </div>
                        </div>
                    </div>*@
                <div class="col-lg-2">
                    <div class="widget-bg-color-icon card-box fadeInDown animated">
                        <div class="bg-icon bg-icon-info pull-left" style="margin-left: 32%;">
                            <a href="@Url.Action("EnviarEmailValidaciones", "Building", new { EdificioId = Model.EdificioId })"><i class="fa fa-check text-info"></i></a>
                            <p class="text-muted" style="font-size:18px">Email de Validación</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="widget-bg-color-icon card-box fadeInDown animated">
                        <div class="bg-icon bg-icon-info pull-left" style="margin-left: 32%;">
                            <a href="@Url.Action("LstCronogramaMantenimiento", "Building", new { EdificioId = Model.EdificioId })"><i class="fa fa-calendar text-info"></i></a>
                            <p class="text-muted" style="font-size:18px">Cronograma Mantenimiento</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="widget-bg-color-icon card-box fadeInDown animated">
                        <div class="bg-icon bg-icon-info pull-left" style="margin-left: 32%;">
                            <a href="@Url.Action("PrintMasivoCuota", "Fee", new { EdificioId = Model.EdificioId })"><i class="fa fa-print text-info"></i></a>
                            <p class="text-muted" style="font-size:18px">Generar Recibos de Mantenimiento</p>
                        </div>
                    </div>
                </div>
            </div>
            <br /><br /><br /><br /><br /><br /><br />
            <div class="row">
                <div class="col-lg-2">
                    <div class="widget-bg-color-icon card-box fadeInDown animated">
                        <div class="bg-icon bg-icon-info pull-left" style="margin-left: 32%;">
                            <a href="@Url.Action("EnviarEmailInformativo", "Building", new { EdificioId = Model.EdificioId })"><i class="fa fa-envelope text-info"></i></a>
                            <p class="text-muted" style="font-size:18px">Enviar Correo</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="widget-bg-color-icon card-box fadeInDown animated">
                        <div class="bg-icon bg-icon-info pull-left" style="margin-left: 32%;">
                            <a href='@Url.Action("CuadroMoroso", "Fee", new { EdificioId = Model.EdificioId })'><i class="fa fa-frown-o text-info"></i></a>
                            <p class="text-muted" style="font-size:18px">Cuadro Morosos</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="widget-bg-color-icon card-box fadeInDown animated">
                        <div class="bg-icon bg-icon-info pull-left" style="margin-left: 32%;">
                            <a href="@Url.Action("CerrarCuota", "Fee", new { EdificioId = Model.EdificioId })"><i class="fa fa-clock-o text-info"></i></a>
                            <p class="text-muted" style="font-size:18px">Cerrar Cuotas</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="widget-bg-color-icon card-box fadeInDown animated">
                        <div class="bg-icon bg-icon-info pull-left" style="margin-left: 32%;">
                            <a href="@Url.Action("LstInspecciones", "Building", new { EdificioId = Model.EdificioId })"><i class="fa fa-book text-info"></i></a>
                            <p class="text-muted" style="font-size:18px">Reporte Inspecciones</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="widget-bg-color-icon card-box fadeInDown animated">
                        <div class="bg-icon bg-icon-info pull-left" style="margin-left: 32%;">
                            <a href="@Url.Action("ArchivosCorregidos", "Building", new { EdificioId = Model.EdificioId , UnidadTiempoId=-1})"><i class="fa fa-edit text-info"></i></a>
                            <p class="text-muted" style="font-size:18px">Subir correción</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="widget-bg-color-icon card-box fadeInDown animated">
                        <div class="bg-icon bg-icon-info pull-left" style="margin-left: 32%;">
                            <a href="@Url.Action("LstEstadoCuentaBancario", "Building",new { EdificioId = Model.EdificioId })"><i class="fa fa-bank text-info"></i></a>
                            <p class="text-muted" style="font-size:18px">Estados de Cuenta Bancario</p>
                        </div>
                    </div>
                </div>
            </div>
            <br /><br /><br /><br /><br />
            <div class="row">
                <div class="col-lg-2">
                    <div class="widget-bg-color-icon card-box fadeInDown animated">
                        <div class="bg-icon bg-icon-success pull-left" style="margin-left: 32%;">
                            <a href="@Url.Action("LstItemActa", "Building",new { EdificioId = Model.EdificioId})"><i class="fa fa-tasks text-info"></i></a>
                            <p class="text-muted" style="font-size:18px">Item de Acta</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="widget-bg-color-icon card-box fadeInDown animated">
                        <div class="bg-icon bg-icon-success pull-left" style="margin-left: 32%;">
                            <a href="@Url.Action("AddEditEdificio", "Building", new { EdificioId = Model.EdificioId })"><i class="fa fa-edit text-success"></i></a>
                            <p class="text-muted" style="font-size:18px">Editar Edificio</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="widget-bg-color-icon card-box fadeInDown animated">
                        <div class="bg-icon bg-icon-warning pull-left" style="margin-left: 32%;">
                            <a @Data.ModalLink("_ActDeactEdificio", "Building", new { EdificioId = Model.EdificioId, Estado = Model.Estado })><i class="fa fa-eye@(Model.Estado == ConstantHelpers.EstadoActivo ? "-slash text-warning" : "")"></i></a>
                            <p class="text-muted" style="font-size:18px">@(Model.Estado == ConstantHelpers.EstadoActivo ? "Desactivar" : "Activar")</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="widget-bg-color-icon card-box fadeInDown animated">
                        <div class="bg-icon bg-icon-danger pull-left" style="margin-left: 32%;">
                            <a href="@Url.Action("DeleteEdificio", "Building", new { EdificioId = Model.EdificioId })"><i class="fa fa-trash text-danger"></i></a>
                            <p class="text-muted" style="font-size:18px">Eliminar</p>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
</div>
