@model VEH.Intranet.ViewModel.Building.LstTipoInmueblesViewModel

@{
    ViewBag.Title = "Tipos de Inmuebles";
}

@section Breadcrumbs{
}

<div>
    <div>
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-list"></i>&nbsp;&nbsp;Listado</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-sm-2 text-center">Nombre</th>
                                <th class="col-sm-2 text-center">Acrónimo</th>
                                <th class="col-sm-3 text-center">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.LstTipoInmueble)
                            {
                                <tr>
                                    <td class="text-center">@item.Nombre</td>
                                    <td class="text-center">@item.Acronimo</td>
                                    <td class="text-center">
                                        <div class="input-group">
                                            <div class="input-group-btn btn-xs">
                                                <a href="@Url.Action("AddEditTipoInmueble", "Building", new { TipoInmuebleId = item.TipoInmuebleId })" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i>&nbsp;Editar</a>
                                                <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="@Url.Action("EliminarTipoInmueble","Building",new { TipoInmuebleId = item.TipoInmuebleId})"><i class="fa fa-trash"></i> Eliminar</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @*@Html.PagedListPager(Model.LstDepartamentos, page => Url.Action("LstDepartamento", new { np = page , EdificioId = Model.EdificioId }), ConstantHelpers.Bootstrap3Pager)*@
                </div>
            </div>
        </div>
    </div>
</div>

<a class="btn btn-sm btn-primary" href="@Url.Action("AddEditTipoInmueble", "Building")"><i class="fa fa-plus"></i>&nbsp;Agregar Tipo Inmueble</a>
