@model VEH.Intranet.ViewModel.CorretajeInmobiliario.LstVisitasViewModel

@{
    ViewBag.Title = "Lista de Constancias de Visitas";
    ViewBag.PageIcon = "fa fa-check";
}

@section Breadcrumbs{

}



<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" data-original-title="" title="Colapsar / Expandir"><i class="fa fa-minus"></i></a>
        </div>
        <h4 class="panel-title"><i class="fa fa-filter"></i>&nbsp;&nbsp;Filtro</h4>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" novalidate="novalidate">
            <input data-val="true" data-val-number="The field EdificioId must be a number." data-val-required="The EdificioId field is required." id="EdificioId" name="EdificioId" type="hidden" value="3035">
            <div class="form-group">
                <label class="col-md-2 control-label ui-sortable">Fecha Visita</label>
                <div class="col-md-2 ui-sortable">
                    @Html.TextBoxFor(x => x.Fecha, new { @class = "form-control datepicker" })
                </div>
                <label class="col-md-2 control-label ui-sortable">Nombre Cliente</label>
                <div class="col-md-4 ui-sortable">
                    @Html.TextBoxFor(x => x.NombreCliente, new { @class = "form-control" })
                </div>
                <div class="col-md-2 col-md-offset-10 ui-sortable">
                    <button type="submit" class="btn btn-sm btn-primary m-r-5"><i class="fa fa-search"></i>&nbsp;&nbsp;Buscar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    @*class="row">*@
    <div>
        @*class="col-sm-12">*@
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-list"></i>&nbsp;&nbsp;Listado</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-sm-2 text-center">Fecha</th>
                                <th class="col-sm-2 text-center">Nombres</th>
                                <th class="col-sm-1 text-center">Cliente</th>
                                <th class="col-sm-1 text-center">Tipo</th>
                                <th class="col-sm-2 text-center">Dirección</th>
                                <th class="col-sm-1 text-center">Precio</th>
                                <th class="col-sm-5 text-center">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.LstVisita)
                            {
                            <tr>
                                <td class="text-center">@item.Fecha.ToString("dd/MM/yyyy") @item.Hora.ToString()</td>
                                <td class="text-center">@item.NombreCliente</td>
                                <td class="text-center">@item.Cliente</td>
                                <td class="text-center">@item.Tipo</td>
                                <td class="text-center">@item.Direccion</td>
                                <td class="text-center">@(item.Moneda == "SOL" ? "S/ " : "$ ")@item.Precio.ToString("#,##0.00")</td>
                                <td class="text-center">
                                    <div class="input-group">
                                        <div class="input-group-btn btn-xs">
                                            <a href="@Url.Action("AddEditVisita", "CorretajeInmobiliario", new { VisitaCorretajeId = item.VisitaCorretajeId })" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i>&nbsp;Editar</a>
                                            <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">                                                
                                                <li><a href="@Url.Action("EmailVisita", "CorretajeInmobiliario", new { VisitaCorretajeId = item.VisitaCorretajeId})"><i class="fa fa-envelope"></i>&nbsp;Enviar Correo</a></li>
                                                <li><a href="@Url.Action("DescargarVisita", "CorretajeInmobiliario", new { VisitaCorretajeId = item.VisitaCorretajeId})"><i class="fa fa-file-pdf-o"></i>&nbsp;Descargar</a></li>
                                                <li class="divider"></li>
                                                <li><a href="@Url.Action("DeleteVisita", "CorretajeInmobiliario", new { VisitaCorretajeId = item.VisitaCorretajeId })"><i class="fa fa-trash"></i>&nbsp;Eliminar</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model.LstVisita, page => Url.Action("LstVisitas", new { np = page , Fecha = Model.Fecha, NombreCliente = Model.NombreCliente }), ConstantHelpers.Bootstrap3Pager)               
                </div>
            </div>
        </div>
    </div>
</div>
<a class="btn btn-sm btn-primary" href="@Url.Action("AddEditVisita", "CorretajeInmobiliario")"><i class="fa fa-plus"></i>&nbsp;Agregar Visita</a>