@model VEH.Intranet.ViewModel.User.LstUsuarioViewModel

@{
    ViewBag.Title = "Usuarios";
}

@section Breadcrumbs{

}

<div> @*class="row">*@
    <div> @*class="col-sm-12">*@
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-list"></i>&nbsp;&nbsp;Listado</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-sm-2 text-center">Código</th>
                                <th class="col-sm-4 text-center">Nombres y Apellidos</th>
                                <th class="col-sm-2 text-center">Rol</th>
                                <th class="col-sm-2 text-center">Estado</th>
                                <th class="col-sm-2 text-center">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.LstUsuario)
                            {
                                <tr>
                                    <td class="text-center">@item.Codigo</td>
                                    <td class="text-center">@(item.Nombres + " " + item.Apellidos)</td>
                                    <td class="text-center">Administrador</td>
                                    <td class="text-center"><span class="label @(item.Estado == ConstantHelpers.EstadoActivo ? "label-success" : "label-error")">@(item.Estado == ConstantHelpers.EstadoActivo ? "Activo" : "Inactivo")</span></td>
                                    <td class="text-center">
                                       
                                                <a href="@Url.Action("AddEditUsuarioAdm", "User", new { UsuarioId = item.UsuarioId })" class="btn btn-default btn-xs" ><i class="fa fa-pencil"></i>&nbsp;&nbsp;Editar</a>&nbsp;
                                                <a @Data.ModalLink("_DeleteUsuario", "User", new { UsuarioId = item.UsuarioId, DepartamentoId = Model.DepartamentoId, EdificioId = Model.EdificioId, Tipo = ConstantHelpers.ROL_ADMINISTRADOR }) class="btn btn-default btn-xs" ><i class="fa fa-trash-o"></i>&nbsp;&nbsp;Eliminar</a>
                                           
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="btn btn-sm btn-primary" href="@Url.Action("AddEditUsuarioAdm", "User")"><i class="fa fa-plus"></i>&nbsp;&nbsp;Agregar usuario</a>

