@model VEH.Intranet.ViewModel.Control.LstAnuncioViewModel
@{
    ViewBag.Title = "Lista de Anuncios";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-list"></i>&nbsp;&nbsp;Listado</h4>
            </div>
            <div class="panel-body">
                <a class="btn btn-sm btn-primary" href="@Url.Action("AddEditAnuncio", "Control")"><i class="fa fa-plus"></i>&nbsp;Agregar Anuncio</a><br />&nbsp;
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-sm-2 text-center">Nombre</th>
                                <th class="col-sm-2 text-center">Imagen</th>
                                <th class="col-sm-2 text-center">Url (Link)</th>
                                <th class="col-sm-2 text-center">Estado</th>
                                <th class="col-sm-1 text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.LstAnuncio)
                            {
                                <tr>
                                    <td class="text-center">@item.Nombre</td>
                                    <td class="text-center">
                                        <a target="_blank" href="@Url.Content("~/Resources/Files/Anuncio/")@item.Ruta">Descargar</a>
                                    </td>
                                    <td class="text-center"><a target="_blank" href="@item.Url">@item.Nombre</a></td>
                                    <td class="text-center">
                                        <span class="label @(item.Estado == ConstantHelpers.EstadoActivo ? "label-success" : "label-danger")">
                                            @(item.Estado == ConstantHelpers.EstadoActivo ? "ACTIVO" : "INACTIVO")
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <div class="input-group">
                                            <div class="input-group-btn btn-xs">
                                                <a href="@Url.Action("AddEditAnuncio", "Control", new { AnuncioId = item.AnuncioId })" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i>&nbsp;Editar</a>
                                                <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="@Url.Action("ActivarAnuncio", "Control", new { AnuncioId = item.AnuncioId })"><i class="fa fa-@(item.Estado == ConstantHelpers.EstadoActivo ? "ban" : "check")"></i>&nbsp;&nbsp;@(item.Estado == ConstantHelpers.EstadoActivo ? "Desactivar" : "Activar")</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="@Url.Action("DeleteAnuncio", "Control", new { AnuncioId = item.AnuncioId })"><i class="fa fa-trash"></i> Eliminar</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>