@model VEH.Intranet.ViewModel.Spending.LstArchivoGastoViewModel
@{
    ViewBag.Title = "Archivo de gasto";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-inverse">
            <div class="panel-body">
                <h4><i class="fa fa-building-o"></i>&nbsp;Edificio</h4>
                <dl class="dl-horizontal">
                    <dt>Nombre</dt>
                    <dd>@Model.Edificio.Nombre</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-inverse">
            <div class="panel-body">
                <h4><i class="fa fa-money"></i>&nbsp;Gasto</h4>
                <dl class="dl-horizontal">
                    <dt>Unidad de tiempo</dt>
                    <dd>@Model.DescripcionUnidadMedida</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div>
    <div>
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-list"></i>&nbsp;&nbsp;Listado</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-sm-10 text-center">Nombre</th>
                                <th class="col-sm-2 text-center">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.LstArchivoGasto)
                            {
                                <tr>
                                    <td>@if (!string.IsNullOrEmpty(item.Ruta))
                                        { 
                                            @*<a href="@Url.Action("DescargarArchivo", "Spending", new { ruta = item.Ruta, nombre = item.Nombre, acronimo = Model.Edificio.Acronimo, unidadmedida = Model.DescripcionUnidadMedida })" title="Clic para descargar">@item.Nombre</a>*@
                                            <a target="_blank" href="@Url.Content("~/Resources/Files/")@Model.Edificio.Acronimo@("/")@(HttpUtility.UrlEncode(item.Ruta).Replace("+"," "))">@item.Nombre</a>
                                    }
                                    else
                                    { @item.Nombre }</td>
                                    <td class="text-center">
                                        <a class="btn btn-xs btn-default" href="@Url.Action("AddEditArchivoGasto", "Spending", new { ArchivoGastoId = item.ArchivoGastoId, GastoId = Model.GastoId, EdificioId = Model.EdificioId })"><i class="fa fa-pencil"></i>&nbsp;Editar</a>
                                        <a @Data.ModalLink("_DeleteArchivoGasto", "Spending", new { ArchivoGastoId = item.ArchivoGastoId, GastoId = item.GastoId, EdificioId = Model.EdificioId }) class="btn btn-default btn-xs"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model.LstArchivoGasto, page => Url.Action("LstArchivoGastoAdmin", new { GastoId = Model.GastoId, EdificioId = Model.EdificioId, np = page, UnidadTiempoId = Model.Anio }), ConstantHelpers.Bootstrap3Pager)
                </div>
            </div>
        </div>
    </div>
</div>
<a class="btn btn-sm btn-default" href="@Url.Action("LstGastoAdmin", "Spending", new { EdificioId = Model.EdificioId })"><i class="fa fa-arrow-left"></i>&nbsp;Regresar</a>&nbsp;
<a class="btn btn-sm btn-primary" href="@Url.Action("AddEditArchivoGasto", "Spending", new { GastoId = Model.GastoId, EdificioId = Model.EdificioId })"><i class="fa fa-plus"></i>&nbsp;Agregar archivo gasto</a>

