@model VEH.Intranet.ViewModel.External.AddEditElementoExternoViewModel
@{

}

<h2>Agregar elemento del Menú</h2>

<div class="panel panel-inverse">
    <div class="panel-body">
        <form method="post" class="form-horizontal" enctype="multipart/form-data" id="formPrincipal">
            @Html.HiddenFor(X => X.EdificioId)
            @Html.HiddenFor(X => X.ElementoExternoId)


            <div class="form-group">
                <label class="col-md-2 control-label">Nombre</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Nombre)
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Ícono</label>
                <div class="col-md-6">
                    <div class="btn-group">
                        <button data-selected="graduation-cap" type="button" class="icp icp-dd btn btn-primary dropdown-toggle iconpicker-component" data-toggle="dropdown">
                            <i class="fa fa-arrow-left" id="opcionIcono"></i>
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu"></div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Documento</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.Documento, new { @class = "form-control", type = "file" })
                    @Html.ValidationMessageFor(x => x.Documento)
                    @if (!string.IsNullOrEmpty(Model.DocumentoAnterior))
                    {   <a target="_blank" href="@Url.Content("~/Resources/Files/")@Model.DocumentoAnterior"><i class="fa fa-download"></i> Descargar</a>
                    }
                    else
                    {
                        <div> <em> No Subido </em></div>
                    }
                </div>
            </div>

            <hr />
            <div class="form-group">
                <div class="ui-sortable">
                    <script>
                        function AgregarIcono() {
                        var valor = $("#opcionIcono").attr("class");
                        var input = document.createElement("input");

                        input.setAttribute("type", "hidden");

                        input.setAttribute("name", "Icono");

                        input.setAttribute("value", valor);

                        //append to form element that you want .
                        document.getElementById("formPrincipal").appendChild(input);
                    }
                    </script>

                    <button type="submit" class="btn btn-sm btn-primary m-r-10 pull-right" onclick="AgregarIcono()"><i class="fa fa-save"></i>&nbsp;&nbsp;Guardar</button>
                    <a href="@Url.Action("LstEdificio", "Building")" class="btn btn-sm btn-default m-r-5 pull-right"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts    {

    <script src="~/Content/dist/js/fontawesome-iconpicker.js"></script>
    <script>
        $('.icp-dd').iconpicker({

        });
    </script>



}
@section styles{
    <link href="~/Content/dist/css/fontawesome-iconpicker.min.css" rel="stylesheet">
    <style>
        footer {
            font-style: italic;
            background: #f7f7f7;
            padding: 60px;
            text-align: center;
            margin-top: 60px;
        }

        pre {
            text-align: left;
        }

        .form-control, .form-group {
            position: relative;
        }

        p.lead {
            max-width: 600px;
            margin: 0 auto 20px auto;
        }

        div.lead {
            margin: 30px 0;
        }

        a.action-placement {
            margin: 0 4px 4px 4px;
            display: inline-block;
            /*border-bottom: 1px dotted #428BCA;*/
            text-decoration: none;
        }

            a.action-placement.active {
                color: #5CB85C;
            }

        .form-group {
            text-align: left;
            margin-bottom: 30px;
        }

            .form-group label {
                display: block;
                margin-bottom: 15px;
            }

        .lead iframe {
            display: inline-block;
            vertical-align: middle;
        }
    </style>
}